<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<title>Inicio de sesion exitoso</title>
</head>

<body>
	<div class="container text-center" style="padding-top: 20px" ;>

		<h4>Bienvenido <b>[[${#request.userPrincipal.principal.Name}]]</b></h4>
		<hr>
		<div>
</body>

</html>