<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing in | El mercader</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{css/style.css}" />
    <script type="module" th:src="@{js/signin.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <h3><b>Crea tu cuenta</b></h3>
                                <img th:src="@{/icons/icon_sign-up.png}" width="20%" height="20%">
                            </div>
                        </div>
                        <div class="m-sm-4">
                            <form>
                                <div class="form-group">

                                    <div class="form-group row mb-3">
                                        <label for="txtNombre" class="col-form-label col-5">Nombre de la
                                            Empresa:</label>
                                        <div class="col-7">
                                            <input type="text" id="name" name="name" class="form-control"
                                                placeholder="Escriba el nombre de la Empresa" />
                                        </div>
                                    </div>

                                    <div class="form-group row mb-3">
                                        <label for="txtNombre" class="col-form-label col-5">Email:</label>
                                        <div class="col-7">
                                            <input type="text" id="email" name="email" class="form-control"
                                                placeholder="Escriba su email" />
                                        </div>
                                    </div>


                                    <div class="form-group row mb-3">
                                        <label for="txtNombre" class="col-form-label col-5">Contraseña</label>
                                        <div class="col-7">
                                            <input type="password" id="pass" name="password" class="form-control"
                                                placeholder="Escriba su clave" />
                                            <small class="letra-gris">Debe tener minimo 8
                                                    caracteres</small>
                                        </div>
                                    </div>


                                    <div class="form-group row mb-3">
                                        <label for="passwordrepeat" class="col-form-label col-5">Confirmar
                                            contraseña</label>
                                        <div class="col-7">
                                            <input type="password" id="pass2" name="password" class="form-control"
                                                placeholder="Confirme su clave" />
                                        </div>
                                    </div>

                                </div>

                                <div class="text-center">
                                    <input type="button" class="btn btn-primary" id="btn-signin" style="width: 50%;"
                                        value="Crear cuenta" />
                                    <hr>
                                    <h6 class="letra-gris">¿Ya tienes una cuenta? <a href="/login">Inicia sesión
                                            aquí</a></h6>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-fixed top-0 end-0" style="padding-top: 10px;padding-right: 10px;">
        <div id="myToast" class="toast" role="alert">
            <div class="toast-header">
                <h4 id="titulomensaje"></h4>
            </div>
            <div class="toast-body">
                <p id="cuerpomensaje"></p>
            </div>
        </div>
    </div>
</body>

</html>